.feature-icon {
  img {
    height: 100px;
    width: 100px;
  }
}

.feature-title {
  --x: 50%;
  --y: 50%;
  border: 2px solid transparent;
  position: relative;
  appearance: none;
  padding: .25em .25em;
  margin: 0;
  color: white;
  // outline: none;
  border-radius: 5px;

  background: linear-gradient(#1D2026, #1D2026) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #02ffd5, #a06fee) border-box;
}
