:host {
    ion-header {
        height: 4rem;
        ion-toolbar {
            height: 100%;
            --background: var(--app-color-a);
            ion-title {
                color: white;
            }
        }
    }
}