@import "colours";
@import "slideshow";

.img-container {
  height: 200px !important;
  width: 200px !important;
  flex-shrink: 0;
}

.card {
  .header {
    .title {
      margin-bottom: 5px;
    }
  }
}
.img-desc {
  display: flex;
  align-items: flex-start;
  img {
    padding-right: 15px;
  }
  p {
    align-self: flex-start;
  }
}
