<div class="main-slideshow-container" id="projects-section">
  <h5 class="hint">Here are some projects I've worked on, privately and during my masters.</h5>

  <owl-carousel-o [options]="cardOptions">
    <ng-template carouselSlide *ngFor="let project of projects">
      <div class="card">
        <div class="header">
          <h4 class="title">{{project.name}}</h4>
        </div>
        <div class="img-desc">
          <div *ngIf="project.imageUrl" class="img-container">
            <img src="{{project.imageUrl}}" />
          </div>
          <p>{{project.description}}</p>

        </div>
        <div class="links">
          <a *ngIf="project.accessUrl" href="{{project.accessUrl}}" target="_blank">Try it out</a>
          <img *ngIf="project.githubUrl" class="clickable icon" src="../../../assets/icons/logos/github.svg" (click)="openGithub(project.githubUrl)" />
        </div>

        <!-- <owl-carousel-o class="skill-container" [options]="skillsOptions">
          <ng-template carouselSlide *ngFor="let skill of unit.skills">
            <p class="skill mt-24" (mousemove)="setBorderColour($event)">{{skill}}</p>
          </ng-template>
        </owl-carousel-o> -->

      </div>
    </ng-template>
  </owl-carousel-o>
</div>
