.img-container {
  height: 200px !important;
  width: 200px !important;
  flex-shrink: 0;
}

.card {
  height: auto;
  .header {
    .title {
      margin-bottom: 5px;
    }
  }

  .skill-container {
    align-items: center;
  }
}
.img-desc {
  display: flex;
  align-items: flex-start;
  img {
    padding-right: 15px;
  }
  p {
    align-self: flex-start;
  }
}

.bottom-area {
  display: flex;
  justify-content: space-between;
  height: 90%;

  .slider-container {
    align-self: flex-end;
    width: 55%;
  }

  .links {
    display: flex;
    align-items: center;
    align-self: end;
    a {
      text-decoration: none;
    }
    .github-urls {
      display: flex;
      justify-content: space-between;
      height: 44px;
      align-items: center;
      img {
        margin-right: 25px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .bottom-area {

    .links {
      flex-direction: column;
      align-items: flex-start;
      align-self: center;
      a {
        text-decoration: none;
      }
      .github-urls {
        height: auto;
        img {
          margin-right: 25px;
        }
      }
    }
    .slider-container {
      align-self: center;
    }
  }
}
