<div class="main-slideshow-container" id="projects-section">
  <h5 class="hint">Here are some projects I've worked on, privately and during my masters.</h5>

  <owl-carousel-o [options]="cardOptions" (changed)="scrollToTopOfCard(owl, 'proj-card-slider')" id="proj-card-slider" #owl *ngIf="projects.length; else scc">
    <ng-template carouselSlide *ngFor="let project of projects">
      <div class="card">
        <div class="header">
          <h4 class="title">{{project.name}}</h4>
        </div>
        <div class="img-desc">
          <div *ngIf="project.imageUrl && showImage" class="img-container">
            <img src="{{project.imageUrl}}" />
          </div>
          <p>{{project.description}}</p>

        </div>
        <div class="bottom-area">
          <div class="links">
            <div class="github-urls" *ngIf="project.githubUrls && project.githubUrls.length">
              <img *ngFor="let link of project.githubUrls" class="clickable icon"
                src="../../../assets/icons/logos/github.svg" (click)="openGithub(link)" />
            </div>
            <a *ngIf="project.accessUrl" class="clickable" href="{{project.accessUrl}}" target="_blank">Try it out</a>
          </div>

          <div class="slider-container">
            <app-skills-slideshow [skills]="project.technologiesUsed"></app-skills-slideshow>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <ng-template #scc>
    <div class="ssc card">
      <div class="flex align-center justify-between">
        <div class="ssc-head-line w-50"></div>
        <div class="w-40">
          <div class="ssc-line w-70"></div>
          <div class="ssc-line w-100"></div>
        </div>
      </div>
      <div class="ssc-square mb"></div>
    </div>
  </ng-template>
</div>
