<div class="main-slideshow-container" id="projects-section">
  <h5 class="hint">Here are some projects I've worked on, privately and during my masters.</h5>

  <owl-carousel-o [options]="cardOptions">
    <ng-template carouselSlide *ngFor="let project of projects">
      <div class="card">
        <div class="header">
          <h4 class="title">{{project.name}}</h4>
        </div>
        <div class="img-desc">
          <div *ngIf="project.imageUrl" class="img-container">
            <img src="{{project.imageUrl}}" />
          </div>
          <p>{{project.description}}</p>

        </div>
        <div class="bottom-area">
          <div class="links">
            <a *ngIf="project.accessUrl" class="clickable" href="{{project.accessUrl}}" target="_blank">Try it out</a>
            <div class="github-urls" *ngIf="project.githubUrls && project.githubUrls.length">
              <img *ngFor="let link of project.githubUrls" class="clickable icon"
                src="../../../assets/icons/logos/github.svg" (click)="openGithub(link)" />
            </div>
          </div>

          <div class="slider-container">
            <owl-carousel-o class="skill-container" [options]="getSkillsOwlOptions(project)">
              <ng-template carouselSlide *ngFor="let skill of project.technologiesUsed">
                <p class="skill mt-24" (mousemove)="setBorderColour($event)">{{skill.name}}</p>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>


      </div>
    </ng-template>
  </owl-carousel-o>
</div>
