<div class="main-slideshow-container" id="experience-section">
  <h5 class="hint">Here are some snippets regarding my work as a software developer.</h5>

  <owl-carousel-o #owl id="card-slider" [options]="cardOptions">
    <ng-template carouselSlide *ngFor="let unit of experiences">
      <div class="card" #expCard>
        <div class="header">
          <div class="title-container">
           <h4 class="title">{{unit.title}}</h4>
          <p class="location" *ngIf="unit.location">{{unit.location}}</p>
         </div>
          <div class="dates">
            <p>{{unit.dateFrom | date : "dd/MM/yy"}}</p><p> - </p>
            <p>{{unit.current ? "CURRENT" : unit.dateTo| date: "dd/MM/yy"}}</p>
          </div>
        </div>
        <div class="body">
          <p>{{unit.description}}</p>
          <app-skills-slideshow [skills]="unit.technologiesUsed"></app-skills-slideshow>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
