<div class="experiences-main" id="experience-section">
  <h5 class="hint">Here are some snippets regarding my work as a software developer.</h5>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let unit of experiences">
      <div class="card" >
        <div class="exp-header">
          <h4 class="title">{{unit.title}}</h4>
          <div class="dates">
            <p>{{unit.dateFrom | date : "dd/MM/yy"}}</p>
            <p>{{unit.current ? "current" : unit.dateTo| date: "dd/MM/yy"}}</p>
          </div>
        </div>
        <p>{{unit.description}}</p>
        <div class="skill-container">
          <p class="skill mt-24" *ngFor="let skill of unit.skills" (mousemove)="setBorderColour($event)">{{skill}}</p>
        </div>

      </div>
    </ng-template>
  </owl-carousel-o>

  <!-- <div class="card" *ngFor="let unit of experiences">
    <div class="exp-header">
      <h4 class="title">{{unit.title}}</h4>
      <div class="dates">
        <p>{{unit.dateFrom | date : "dd/MM/yy"}}</p>
        <p>{{unit.current ? "current" : unit.dateTo| date: "dd/MM/yy"}}</p>
      </div>
    </div>
    <p>{{unit.description}}</p>
    <div class="skill-container">
      <p class="skill mt-24" *ngFor="let skill of unit.skills" (mousemove)="setBorderColour($event)">{{skill}}</p>
    </div>

  </div> -->
</div>
<!-- <div *ngFor="let tech of myTechs"
      class="feature text-center is-revealing">
        <div class="feature-inner">
          <h4 class="feature-title mt-24" (mousemove)="setBorderColour($event)">{{tech}}</h4>
        </div>
      </div> -->
