:host {
    position: absolute;
    top: 64px;
    right: 0;
    width: 50px;
    z-index: 10;
    

    &:hover {
        width: 205px;
    }
    ion-button {
        position: fixed;
        width: 250px;
        height: 50px;
        --border-radius: 14px;
    }
}