$highlight: #1AF06D;

$nav-background: #21242b;

$primary-one: #0270D7;
$primary-two: #0F8AFD;
$primary-three: #0256A4;

$background-one: #15181D;
$background-two: #1D2026;
$background-three: #242830;
$background-four: #2C3039;

$font-one: #FFFFFF;
$font-two: #8A94A7;
$font-three: #3B404C;
