/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-four;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: #888;
  // background: $background-one;
  background: $background-one;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: #555;
  background: $font-two;
}
