@import "colours";

.main-slideshow-container {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;

  .hint {
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .skill-container {
    align-items: end;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-container {
      padding: 0;
      margin: 0;
      .title {
        display: inline-block;
        margin-right: 15px;
      }
      .location {
        display: inline-block;
      }
    }
    .dates {
      p {
        display: inline;
        margin: 0;
        padding: 0;
        padding: 0 5px 0 0;
      }
    }
  }

  .owl-carousel {
    .owl-nav {
      [class*="owl-"] {
        width: 100px;
        background-color: $background-three;
        font-size: medium;
        letter-spacing: 1px;
        font-weight: bold;
      }

      [class*="owl-"]:hover:not(.disabled) {
        background-color: $background-one;
        color: $highlight;
      }

      [class*="owl-"].disabled:hover {
        background-color: $background-three;
      }
    }
  }

  @media screen and (max-width: 250px) {
    .header {
      border-bottom: 1px solid $background-one;
      flex-direction: column;
      margin-bottom: 2.5px;
      .dates {
        margin-bottom: 5px;
      }
    }
    .body {
      margin-top: 2.5px;
    }
  }
}
