/* You can add global styles to this file, and also import other style files */
@import 'colours';

.clickable:hover {
  cursor: pointer;
  color: $highlight !important;
}

img.clickable:hover {
  filter: invert(58%) sepia(100%) saturate(392%) hue-rotate(90deg) brightness(105%) contrast(94%);
}

img.icon {
    width: 25px;
    height: 25px;
    max-width: 25px;
    min-width: 25px;
    filter: invert(100%);
}


.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  .skill {
    text-align: center;
    --x: 50%;
    --y: 50%;
    border: 2px solid transparent;
    position: relative;
    appearance: none;
    padding: 0.25em 0.25em;
    margin: 0;
    color: white;
    outline: none;
    border-radius: 5px;
    color: $highlight;
    background: linear-gradient(#1d2026, #1d2026) padding-box,
      radial-gradient(farthest-corner at var(--x) var(--y), #02ffd5, #a06fee) border-box;
  }
}

