<div class="container">
  <img class="nav-image" src="../../assets/template/logo.svg" alt="Logo">
    <!-- <div class="site-header-inner">
      <div class="brand header-brand">
        <h1 class="m-0">
          <img class="header-logo-image" src="../../assets/template/logo.svg" alt="Logo">
        </h1>
      </div>
    </div> -->
  <ul class="list">
    <li class="element"><a href="./index.html" title="">Home</a></li>
    <li class="element"><a href="./works.html" title="">Education</a></li>
    <li class="element"><a href="./about.html" title="">Experience</a></li>
    <li class="element"><a href="./contact.html" title="">Projects</a></li>
    <li class="element"><a href="./components.html" title="">About</a></li>
  </ul>
</div>
