<div class="nav">
  <div class="flex-container">
    <img class="nav-image" src="../../assets/template/logo.svg" alt="Logo">
    <ul class="list">
      <li class="element"><a href="./index.html" title="">Home</a></li>
      <!-- <li class="element"><a href="./works.html" title="">Education</a></li>
      <li class="element"><a href="./about.html" title="">Experience</a></li> -->
      <li class="element"><a href="./contact.html" title="">Projects</a></li>
      <li class="element"><a href="./components.html" title="">About</a></li>
    </ul>
  </div>
  <div class="icons">
    <img src="../../../assets/icons/logos/linkedin.svg" (click)="navigateTo('https://linkedin.com/in/warren-roche')" />
    <img src="../../../assets/icons/logos/github.svg" (click)="navigateTo('https://github.com/IfreannMedia')" />
    <img src="../../../assets/icons/logos/mail.svg" (click)="navigateTo('mailto:warrengamedev@gmail.com')" />
  </div>

</div>
