<!-- <div class="nav" #navbar nav> -->
<div class="nav" #navbar>
  <div class="flex-container">
    <img class="nav-image" src="../../assets/template/logo.svg" alt="Logo">
    <ul class="list">
      <li class="element"><a class="clickable" (click)="scrollToView('nav-bar')" title="">Home</a></li>
      <li class="element"><a class="clickable" (click)="scrollToView('experience-section')" title="">Experience</a></li>
      <li class="element"><a class="clickable" (click)="scrollToView('projects-section')" title="">Projects</a></li>
      <li class="element"><a class="clickable"(click)="scrollToView('about-section')" title="">About</a></li>
      <li class="element"><a class="clickable" href="../../../assets/pdf/warren-roche-cv.pdf" target="_blank" title="">CV</a></li>
    </ul>
  </div>
  <div class="icons">
    <img class="clickable icon" src="../../../assets/icons/logos/linkedin.svg" (click)="navigateTo('https://linkedin.com/in/warren-roche')" />
    <img class="clickable icon" src="../../../assets/icons/logos/github.svg" (click)="navigateTo('https://github.com/IfreannMedia')" />
    <img class="clickable icon" src="../../../assets/icons/logos/mail.svg" (click)="navigateTo('mailto:warrengamedev@gmail.com')" />
  </div>

</div>
