<ion-segment value="experience" (ionChange)="segmentChanged($event)" fxLayout="row none" fxLayoutAlign="space-between">
  <ion-segment-button fxFlex="100%" value="experience"><ion-label>Experience</ion-label></ion-segment-button>
  <ion-segment-button fxFlex="100%" value="education"><ion-label>Education</ion-label></ion-segment-button>
  <ion-segment-button fxFlex="100%" value="interests"><ion-text>Interests</ion-text></ion-segment-button>
</ion-segment>

<div id="slides-container" fxLayout="row none">
  <ion-button [disabled]="!projects || (projects && projects.length <= 1 || slidesIndex === 0)"
    (click)="slides.slidePrev()" class="ion-no-margin" id="left">left
  </ion-button>
  <div id="slides-wrapper" fxFlex fxLayout="column none">
    <ion-header>
      <ion-toolbar>
        <h3 *ngIf="projects && projects.length && projects[slidesIndex]">{{projects[slidesIndex].name}}</h3>
      </ion-toolbar>
    </ion-header>
    <ion-slides #slides fxFlex [options]="slideOpts" class="ion-no-margin">
      <ion-slide *ngFor="let project of projects" fxLayout="row none" class="ion-padding">
        <ion-card fxFlex class="full-height simple-container" id="tech-used">
          <ion-list>
            <ion-item *ngFor="let tech of project.technologiesUsed">{{tech}}</ion-item>
          </ion-list>
        </ion-card>
        <div fxFlex fxLayout="column none" class="full-height">
          <ion-card fxFlex fxLayoutAlign="start" class="ion-text-left simple-container">{{project.description}}
          </ion-card>
          <ion-card fxFlex class="ion-text-left simple-container">{{project.challengesAndOps}}</ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-button [disabled]="!projects || (projects && projects.length <= 1 || slidesIndex === projects.length-1)"
    (click)="slides.slideNext()" class="ion-no-margin" id="right">right
  </ion-button>

</div>