:host {
    #slides-container {
        height: 600px;
        width: 100%;
    }

    ion-slide {
        background-color: rgb(255, 255, 255);

        .simple-container {
            height: 95%;
            box-shadow: 0px 0px 5px 5px rgba(204,204,204,1);
        }
    }

    ion-button {
        z-index: 2;
        height: 540px;
        width: 50px;
        align-self: flex-end;
    }

    #slides-wrapper {
        max-width: calc(100% - 100px);
    }

    #tech-used {
        height: 95%;
        width: 95%;
    }
}