<app-header title="Warren Roche BA MSc"></app-header>
<ion-content>
    <div fxLayout="row none" fxLayout.lt-md="column none" id="intro-container">
        <div class="flex-el" ngClass.lt-md="small-screen" id="intro-image"></div>
        <div class="flex-el" ngClass.lt-md="small-screen" id="intro-description">
            {{homeDescription}}
        </div>
    </div>

    <app-header title="Experience"></app-header>

    <app-project-view></app-project-view>
<!-- 
    <app-side-sticky downloadLink="../../../files/Warrens_cv.pdf">
        <div style="width: 100%;" fxLayout="row none" fxLayoutAlign="start center">
            <ion-icon name="document-text-outline"></ion-icon><span style="font-weight: bold;"
                class="ion-no-margin">download CV</span>
        </div>
    </app-side-sticky> -->
    <app-side-sticky style="top:128px" hrefLink="https://github.com/IfreannMedia">
        <div style="width: 100%;" fxLayout="row none" fxLayoutAlign="start center">
            <ion-icon name="logo-github"></ion-icon><span style="font-weight: bold;" class="ion-no-margin">visit my
                git</span>
        </div>
    </app-side-sticky>

    <app-footer></app-footer>
</ion-content>