ion-content {
    width: 100vw;
    max-width: 100vw;
}

#intro-container {
    height: 650px;
    width: 100%;
}

#intro-image {
    background-image: url(../../../assets/images/placeholder-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.small-screen {
        filter: blur(4px);
        height: 40px !important;
    }
}

.flex-el {
    flex: 1 1 auto;
    width: 50%;
    height: 100%;

    &.small-screen {
        height: 50%;
        width: 100%;
    }
}

.test-border {
    border: 4px solid magenta;
}

.test-border-2 {
    border: 6px dotted orange;
}

ion-icon {
    font-size: 32px;
    margin-right: 20px;
}