<!-- <div fxLayout="column none" fxLayoutAlign="start" class="full-width"> -->
<ion-content>
    <app-header title="Portfolio - Warren Roche"></app-header>
    <div fxLayout="row none" id="intro-container">

        <img id=intro-image src="../../../assets/images/placeholder-image.jpg" />

        <div id="intro-description">
            {{homeDescription}}
        </div>
    </div>
    <app-header title="Experience"></app-header>
    <app-project-view></app-project-view>
    <app-side-sticky>
        <div style="width: 100%;" fxLayout="row none" fxLayoutAlign="space-between center">

            <ion-icon style="font-size: 32px;" name="document-text-outline"></ion-icon><span style="font-weight: bold;"
                class="ion-no-margin">download CV</span>
        </div>
    </app-side-sticky>
    <app-side-sticky style="top:128px">
        <div style="width: 100%;" fxLayout="row none" fxLayoutAlign="space-between center">

            <ion-icon style="font-size: 32px;" name="logo-github"></ion-icon><span style="font-weight: bold;"
                class="ion-no-margin">visit my git</span>
        </div>
    </app-side-sticky>
</ion-content>