<!-- <div fxLayout="column none" fxLayoutAlign="start" class="full-width"> -->
<ion-content>
    <app-header title="Portfolio - Warren Roche"></app-header>
    <div fxLayout="row none" id="intro-container">

        <img id=intro-image src="../../../assets/images/placeholder-image.jpg" />

        <div id="intro-description">
            {{homeDescription}}
        </div>
    </div>
    <app-header title="Experience"></app-header>
    <app-project-view></app-project-view>
    <app-side-sticky></app-side-sticky>
</ion-content>