<!-- <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet"> -->

<div class="body-wrap">
  <header class="site-header">
  </header>

  <main>
    <section class="hero">
      <div class="container">
        <div class="hero-inner">
          <app-landing-block></app-landing-block>
          <app-artistic-elements></app-artistic-elements>
        </div>
      </div>
    </section>

    <section class="features section">
      <app-experience-highlights></app-experience-highlights>
      <app-project-highlights></app-project-highlights>
      <app-about></app-about>
    </section>
  </main>

</div>
<app-footer></app-footer>
